* {
    box-sizing: border-box;
}

.grid-layout-10 {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid-layout-7 {
    display: flex;
    width: 280px;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid-layout-5 {
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    flex-direction: row;
}

.tile-div {
    width: 40px;
    height: 40px;
    background-color: grey;
}

.tile-div-red{
    width: 40px;
    height: 40px;
    background: red;
  }
  
.tile-div-blue{
    width: 40px;
    height: 40px;
    background: lightblue;
  }

.tile-div-green{
    width: 40px;
    height: 40px;
    background: greenyellow;
}

.tile-div-brown{
    width: 40px;
    height: 40px;
    background: brown;
}